<div id="<%= dom_id company %>">
  <p>
    <strong>Razao social:</strong>
    <%= company.razao_social %>
  </p>

  <p>
    <strong>Nome fantasia:</strong>
    <%= company.nome_fantasia %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= company.cnpj %>
  </p>

  <p>
    <strong>Endereco cep:</strong>
    <%= company.endereco_cep %>
  </p>

  <p>
    <strong>Endereco rua:</strong>
    <%= company.endereco_rua %>
  </p>

  <p>
    <strong>Endereco numero:</strong>
    <%= company.endereco_numero %>
  </p>

  <p>
    <strong>Endereco complemento:</strong>
    <%= company.endereco_complemento %>
  </p>

  <p>
    <strong>Endereco bairro:</strong>
    <%= company.endereco_bairro %>
  </p>

  <p>
    <strong>Endereco cidade:</strong>
    <%= company.endereco_cidade %>
  </p>

  <p>
    <strong>Endereco uf:</strong>
    <%= company.endereco_uf %>
  </p>

  <p>
    <strong>Telefone fixo:</strong>
    <%= company.telefone_fixo %>
  </p>

  <p>
    <strong>Telefone celular:</strong>
    <%= company.telefone_celular %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= company.site %>
  </p>

  <p>
    <strong>Created user:</strong>
    <%= company.created_user_id %>
  </p>

  <p>
    <strong>Changed user:</strong>
    <%= company.changed_user_id %>
  </p>

</div>
